<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366591354653-0il7d5ebbrio9sh6pls6cp379irp1l3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366591354653-0il7d5ebbrio9sh6pls6cp379irp1l3o</string>
	<key>API_KEY</key>
	<string>AIzaSyArZ1xRMrsBOvz8OUKQslXhDkI4QEwBPq4</string>
	<key>GCM_SENDER_ID</key>
	<string>366591354653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodpandaUsersApp</string>
	<key>PROJECT_ID</key>
	<string>copyusers-8753c</string>
	<key>STORAGE_BUCKET</key>
	<string>copyusers-8753c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366591354653:ios:10e0dc0c6099d53bdb63f4</string>
</dict>
</plist>